.idea/libraries/*
.idea/misc.xml
.idea/modules.xml
.idea/modules/blockchaindlib-build.iml
.idea/modules/blockchaindlib.iml
.idea/sbt.xml
.idea/scala_compiler.xml
.idea/workspace.xml
org/bitcoinj/core/annotations.xml
project/target/**/*.class
.idea/blockchain-api.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/uiDesigner.xml
.idea/vcs.xml
project/target/**
target/**
